*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.section {
    display: none;
}
.section.active {
    display: block;
}
body {
    background: #e4b8ff;
    color: black;
    justify-content: center;
    align-items: center;
    width: 100vw;            
    height: 100vh;          
}
#header {
    width: 100%;
    height: 100vh;

    place-items: center;
    padding-top: 80px;
}


@media (max-width: 767px) {
    nav {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ccc9cd;
        width: 100%;
        padding-left: 15%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .header-text p {
        font-size: 300%;
        margin-left: 20%;
        padding-top: 10px;
        font-family: 'Trebuchet MS', sans-serif;
        animation: 2s slide-left forwards;
        transform:translateX(100%);
    }
    .header-text h1 {
        font-size: 350%;
        margin-left: 20%;
        margin-top: 15%;
        overflow: hidden;
        font-family: 'Trebuchet MS', sans-serif; ;
        animation: 2s slide-right forwards;
        transform:translateX(-100%);
    }
    .header-text img.linkedin {
        max-width: 5%;
        max-height: 5%;
        padding-top: 5%;
        margin-left: 20%;
    }
  }
  @media (max-width: 1023px) and (min-width: 768px) {
    nav {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ccc9cd;
        width: 100%;
        padding-left: 33%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .header-text p {
        font-size: 300%;
        margin-left: 30%;
        padding-top: 10px;
        font-family: 'Trebuchet MS', sans-serif;
        animation: 2s slide-left forwards;
        transform:translateX(100%);
    }
    .header-text h1 {
        font-size: 350%;
        margin-left: 30%;
        margin-top: 15%;
        overflow: hidden;
        font-family: 'Trebuchet MS', sans-serif; ;
        animation: 2s slide-right forwards;
        transform:translateX(-100%);
    }
    .header-text img.linkedin {
        max-width: 5%;
        max-height: 5%;
        padding-top: 5%;
        margin-left: 30%;
    }
  }
  @media (min-width: 1024px) {
    nav {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ccc9cd;
        width: 100%;
        padding-left: 33%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .header-text p {
        font-size: 300%;
        margin-left: 30%;
        padding-top: 10px;
        font-family: 'Trebuchet MS', sans-serif;
        animation: 2s slide-left forwards;
        transform:translateX(100%);
    }
    .header-text h1 {
        font-size: 350%;
        margin-left: 37.5%;
        margin-top: 15%;
        overflow: hidden;
        font-family: 'Trebuchet MS', sans-serif; ;
        animation: 2s slide-right forwards;
        transform:translateX(-100%);
    }
    .header-text img.linkedin {
        max-width: 5%;
        max-height: 5%;
        padding-top: 5%;
        margin-left: 32%;
    }
  }
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: transparent;
    display: flex;
    width: 100%;
    position: fixed;
    list-style: none;

}
nav ul li {
    padding-right: 5%;
    display: inline-block;
    list-style: none;
    text-align: center;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 120%;
    position: relative;

}
nav ul li a:hover {
    color: white;
}

@keyframes slide-right {
    to {
        transform:translateX(0);
      }
 }
 @keyframes slide-left {
    to {
        transform:translateX(0);
      }
 }
.header-text img.linkedin:hover {
    filter: brightness(0) invert(1);
}
.header-text img.github {
    max-width: 5%;
    max-height: 5%;
    margin-left: 10%;
    text-decoration: none;
}
.header-text img.github:hover {
    filter: brightness(0) invert(1);
}
.header-text img.email {
    max-width: 5%;
    max-height: 5%;
    margin-left: 10%;
}
.header-text img.email:hover {
    filter: brightness(0) invert(1);
}
.header-text a {
    text-decoration: none;
}

/* ---------- about ---------- */


@media (max-width: 767px) {
    .about-col img {
        border-radius: 5%;
        max-width: 100%;
        height: auto;
    }
    
    .about-col img.aboutPhoto {
        max-width: 100%;
        height: auto;
        margin-left: 2%;
        margin-top: 5%
    }
    .about-col {
        margin: -10px; 
    }
}
@media (min-width: 768px) {
    .about-col img {
        border-radius: 50%;
    }
    
    .about-col img.aboutPhoto {
        max-width: 100%;
        max-height: 50%;
        margin-left: 20%;
        margin-top: 15%;
    }
    .about-col {
        flex: 1;
        margin: -20px; 
    }
}

#about .container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
}

#about {
    padding: 80px 0;
    color: black;
}

.about-col h1 {
    margin-left: 25%;
    margin-top: 35%;
    font-size: 200%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col p {
    padding-top: 2%;
    font-size: 130%;
    padding-right: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.about-col a {
    color: black;
    text-decoration: none;
    font-size: 130%;
}
.about-col a:hover {
    color: white;
}
.resumeButton {
    color: black;
    background-color: #ccc9cd;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    margin-left: 2%;
}

/* ---------- projects ---------- */
#projects, #experience {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 20%;
    position: relative;
}

.box p {
    padding-bottom: 10px;
}

.dropdown-content {
    padding: 5px;
    display: none;
    border-top: 1px solid #ddd;
}

.box:hover {
    height: auto;
}

.box:hover .dropdown-content {
    display: block;
}

.laundryGithubButton, .laundryDemoButton, .mazeGithubButton, .mazeDemoButton,
.carverDemoButton, .carverGithubButton, .beanpotDemoButton, .beanpotGithubButton, 
.beanpotSlidesButton, .stockDemoButton, .stockGithubButton {
    color: black;
    background-color: #ccc9cd;
    width: 150px;
    height: 30px;
    border-radius: 50px;
}

.laundryGithubButton a, .laundryDemoButton a,
.mazeGithubButton a, .mazeDemoButton a,
.carverGithubButton a, .carverDemoButton a,
.beanpotGithubButton a, .beanpotDemoButton a, .beanpotSlidesButton a, 
.stockGithubButton a, .stockDemoButton a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.laundryGithubButton a:hover, .laundryDemoButton a:hover,
.mazeGithubButton a:hover, .mazeDemoButton a:hover,
.carverGithubButton a:hover, .carverDemoButton a:hover,
.beanpotGithubButton a:hover, .beanpotDemoButton a:hover, .beanpotSlidesButton a:hover,
.stockDemoButton a:hover, .stockGithubButton a:hover {
    color: rgb(255, 255, 255);
}
